* {margin:0;
} 
 
 header{
  text-align: center;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:20;
  background-color:#3a2b3f;  
}

.logo{
  width:150px;
}


html{
	min-height:100%;
}
body{
	padding:0px;
	margin:0px;
	min-height:100%;
  background-color:#f2f2f2 ;
}

.collection { 
    padding-top:100px;
	padding-bottom:10px;
	margin:0px;
}


nav{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height:30px;
  padding: 10px;
  background-color: #2f4c52;
  border-bottom: 1px solid #gray;
  box-shadow: 1px 1px 3px #999999;
}


.navLink{
  margin-left: 20px;
  margin-right: 20px;
  display:inline-block;
  text-align: center;
  font-size:1em;
  color:#30585b;
  text-decoration:none;
}

.item{
  width: 150px;
  height: 150px;
  display:inline-block;
  position:relative;
  margin:5px;
  border-radius:2px;
  background-color:white;
  z-index:4;
  overflow:hidden;
 
}

.item img{
	height:100%;
    opacity: 1;
    z-index:4;
	position:absolute;
	left:50%;
	top:0;
    background-color:white;
	transform:translate(-50%,0);
}

.item:hover {
    z-index:7;
	transform: scale(.5);
	box-shadow:0px 0px 10px #888888;
	transform: scale(1.25);
}


footer{
 	font-family: 'Open Sans', sans-serif;
 	font-size: .5em;
 	color:white;
 	height: 20px;
 	width:100%;
 	bottom:0px;
	left:0px;
	position:absolute;
 	text-align: center;
 	background-color: #2f4c52;
}

footer p{
	color:white;
}

.collection{
	position:relative;
	text-align:center;
	padding-bottom:30px;	
}

.wrapper {
	min-height:100vh;
    position:relative;
}


.overlap{
	Position:fixed;
	text-align:center;
	right:10px;
	padding-right:4%;
	padding-top:2%;		
}


.name{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}


.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;	
}

.overlay{
 position:fixed;
 height:100%;
 width:100%;
 left:0;
 top:0;
 background-color:rgba(182,182,182,0.8);
 z-index: 10;
 display:none;
}


.hoverDiv{
    transition: opacity .25s ease-in-out,transform .25s ease;
}


.hoverDiv:hover;{
    z-index:7;
	transform: scale(.5);
	box-shadow:0px 0px 10px #888888;
	transform: scale(1.25);
}

button {
  border-radius: 2px;
  color: #ffffff;
  font-size: .5em;
  background: #2f4c52;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:1px solid #413446;
}

button:hover {
  background: #413446;
  text-decoration: none;
}

button.selected{
	color:#3a2b3f;
	background-color:#d5b218;
	border:1px solid #d1a218;		
}

button:focus {
    outline:0
}

#search{
	background-color:white;
	padding:7px;
	border:none;
	border-radius:2px;
	position:relative;
	left:-9%;
}



.modal {
  width: 500px;
  height:70%;
  overflow:scroll;
  position: fixed;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:#2f4c52;
  padding:10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius:10px;
  z-index:11;
  display:none;
  border:3px solid white;
}



.modal h2 {
    font-family: 'Open Sans', sans-serif;
	color:white;
}

.modal p {
	width:70%;
	color:white;
    font-family: 'Open Sans', sans-serif;	
}

.modal img{
	display:inline;
	width:50%;
	color:white;	
}

.beerStyle{
	color:gray;
	font-size:2em;
}

.nameHidden{
	display:none;
}
