* {
  margin: 0;
  padding: 0;
}

body { font-family: Times; font-size:16px; }


.page {
  min-height: 100vh;
  position:relative;
}



h1{
	font-size:100px;
	color:white;
	font-family: 'Bitter', serif;
	font-weight: 100;
	text-align:center;	
	line-height:2em;
}


.pull-quote{
	font-size:30px;
	text-color:white;
	font-family: 'Bitter', serif;
	font-weight: 100;
	text-align:left;
	background-color: black;
	padding-left:20%;
	padding-right:20%;
	padding-bottom:20%;
	padding-top:5%;
    opacity: .2;
    filter: alpha(opacity=40);
}



h2{
	font-size:18px;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
    text-transform: uppercase;
 	letter-spacing: 10px;
	text-align:center;
}


#div1{
	background-color:black;
	width:100%;
	height:100vh;
}



#div2{
	background-color:gray;
	width:100%;
}



#div3{
	background-color:white;
	width:100%;
	height:100vh;
    background-image: url("images/boat.jpg");
    background-color: #cccccc;
}



#div4{
	background-color:black;
	background-image: url("images/boat.jpg");
	width:100%;
	height:100vh;
}



#div5{
	background-color:black;
	width:100%;
	height:100vh;
    background-image: url("images/bridge.jpg");
    background-color: #cccccc;
}

#div6{
	width:100%;
	height:100vh;
	background-color:black;    
}

.over-lap{
	margin-top:90px;
	margin-left:30px;
}

#image-div{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/d/d8/Enigma_rotors_and_spindle_showing_contacts_rachet_and_notch.jpg");
}



#image-div2{
	background-image:url("http://users.telenet.be/d.rijmenants/pics/hires-wehrmachtkey-stab.jpg");
	position:absolute;
	height:100%;
	top:0%;
	left:0%;
}



.title {
  opacity:0;
  width:100%;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  transition: opacity 2s ease-out;
}


.parallax-image {
  background-size:cover;
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-attachment:fixed;
  width:100%;
  height:100vh;
}

.opacity{
    opacity: .2;
    filter: alpha(opacity=40);
}

.arrived{
    opacity: 1;
    -webkit-transition: opacity 2s ease-in;
}


.subhead{
	text-align:centered;
	color:gray;
	bottom:30%;
	position:absolute;
    position:absolute;
    left:50%;
    top:64%;
	width:100%;
    transform: translate(-50%, -50%);
}

.text-block {
  color:black;
  position:relative;
  width:480px;
  font-size:18px;
  padding:70px;
  text-align: left;
  line-height:1.5em;
}

.turing-image {
 position:absolute;
 right: 10%; 
 top:-100px ;
 margin-right:30px;
 Z-index:10;
}

.right-image {
 position:absolute;
 right: 10%; 
 top:-100px ;
 margin-right:30px;
 Z-index:10;
}

.left-image {
 position:absolute;
 left: 10%; 
 top:-240px ;
 margin-left:30px;
 Z-index:10;
}
